<!DOCTYPE html><html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{/account/layout.html::login(~{::body})}">
<head>
<meta charset="UTF-8">
</head>
<body ng-app="change-pass-app" ng-controller="change-pass-ctrl">
	<div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signup flex-row my-5">
                    <div class="card-img-left d-none d-md-flex">
                        <!-- Background image for card set in CSS! -->
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-center">Change Pass</h5>                                         
                            <div class="form-label-group input-effect">
                                <input type="text" name="username" class="effect-4" placeholder="Username" ng-model="account.username" disabled="disabled"> <span class="focus-border"></span>
                            </div>
                            <div class="form-label-group input-effect">
                                <input type="password" name="fullname" class="effect-4" placeholder="CurrentPass" ng-model="account.password" disabled="disabled"> <span class="focus-border"></span>
                            </div>                             
                           <div class="form-label-group input-effect">
                                <input type="password" name="password" class="effect-4" placeholder="New Password" ng-model="newpass"> <span class="focus-border"></span>
                            </div>
                            <div class="form-label-group input-effect">
                                <input type="password" name="confirmpass" class="effect-4" placeholder="Confirm new password" ng-model="confirmnewpass"> <span class="focus-border"></span>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" ng-click="changepass()">Change</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>