<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	th:replace="~{/home/layout.html::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image"></td>
							<td>Name</td>
							<td class="description">Price</td>
							<td class="price">Amount</td>
							<td class="quantity">Quantity</td>
							<td>Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cart.items">
							<td><a href=""><img ng-src="{{'/img/'+item.image}}"
									style="width: 100px;" alt=""></a></td>
							<td class="cart_description">
								<h4>
									<a href="">{{item.name}}</a>
								</h4>
								<p>ID: {{item.id}}</p>
							</td>
							<td class="cart_price">
								<p>{{item.price|number}}</p>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.price|number:2}}VNĐ</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button input-group number-spinner">
									<input class="form-control" id="qty" override-plus-key
										ng-change="cart.saveToLocalStorage()" ng-model="item.qty"
										type="number" min="1" style="width: 60px">
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.price*item.qty|number:2}}VNĐ</p>
							</td>
							<td class="cart_delete"><a ng-click="cart.remove(item.id)"
								class="cart_quantity_delete" href=""><ion-icon name="close"></ion-icon></a>
							</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-primary" ng-click="cart.clear()">Clear</button>
				<a class="btn btn-default btn-primary" href="/cart/checkout">Check
					Out</a>
			</div>

		</div>
	</section>
	<!--/#cart_items-->


</body>
</html>